body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #fff;
}

div {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #2196f3; 
  position: relative;
  animation: spin 1s linear infinite;

}

div::before,
div::after {
  content: "";
  position: absolute;
  inset: -17px;
  border-radius: 50%;
  border: 7px solid transparent;
}

div::before {
  border-top-color: #ff9800; 
   animation: spin 1.5s linear infinite;
}

div::after {
  inset: -30px;
  border-top-color: #000; 
   animation: spin 2s linear infinite;
}


@keyframes spin {
0%{
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
  }
}


div:hover {
    animation-play-state: paused; 
}
div:hover::before {
     animation-play-state: paused;
 
}

div:hover::after {
     animation-play-state: paused;
}
  
