p{
    /* background-color: #eee; */
    width: 400px;
    text-shadow:
     1px 1px 0 red,       
      2px 2px 0 blue,     
      3px 3px 0 purple; 
    
    font-size: 40px;
    text-transform: capitalize;

    text-align: center;

}
